
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form handling</title>
    <style>
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>form </h1>
    <form action"" method="">
        name <input type="text"name="name" placeholder="enter your name">
        <br>
        <br>
        email <input type="email"name="email" placeholder="enter your email">
        <br>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>